*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* naver */

.navbar{
      background: linear-gradient(90deg, #0f0029, #22004d);
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  color: aliceblue;

}
.logo{
    font-size: 28px;
    font-weight: bold;
}
.logo span{
    color:#FB09B4;
}
.menu{
    list-style: none;
    display: flex;
    gap: 30px;
    color: #d0d0d0;
    font-size: 16px;
}
.btn{
  background: linear-gradient(90deg, #ff2fb3, #ff7b00);
border: none;
padding: 12px 16px;
border-radius: 20px;
color: azure;
cursor: pointer;
}

